.cart-items {
    background-color: #ffffff;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    border:  2px solid #5a5d88;
}

.cart-item-image {
    width: 100%;
    width: 280px;
   height: 240px;
    display: block;
    object-fit: cover;
    border-radius: 15px;
    background-color: white;
}

.cart-item-list {
    padding: 25px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid #5a5d88;
    border-radius: 25px;
    background-color: #ffffff;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana;
    border: 2px solid #5a5d88;
}

.cart-items-header {
    padding: 20px;
    border:  2px solid #5a5d88;
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
    font-family: Verdana;
    text-decoration: none;
    text-transform: uppercase;
    background-color:#5a5d88;
}

.cart-items-empty {
    color: white;
    font-weight: bold;
    font-size: 28px;
    font-family: Verdana;
    text-transform: uppercase;
}

.cart-item-name {
    max-width: 300px;
    color: #5a5d88;
}

.total-price {
    border-top: 2px solid #5a5d88;
    display: flex;
    justify-content: space-between;
    background-color: #a3a6c7;
    color: white;
    font-weight: bold;
    font-size: 28px;
    font-family: Verdana;
    text-transform: uppercase;
    padding: 10px 20px;
}

.cart-items-add {
    cursor: pointer;
    color: rgb(156, 156, 223);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    font-size: 40px;
    padding: 2px;
    border-radius: 10px;
}

.cart-items-add:hover {
    transform: translateY(10px);
    background-color: rgb(156, 156, 223);
    color: white;
    transition: 1s;
}

.cart-items-remove {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(156, 156, 223);
    background-color: white;
    font-size: 40px;
    padding: 2px;
    outline: none;
    border-radius: 10px;
}

.cart-items-remove:hover {
    transform: translateY(10px);
    background-color: #b8bcec;
    color: white;
    transition: 1s;
}
div.cart-items-price {
    color: #5a5d88;
}